/**/


/* index*/

.intitolazione {
    /*float:left;*/
    align-content: left;
}

.spaziaturatitotlo {
    align-content: left;
    margin-left: 2.5%;
}

.presentazione {
    position: relative;
    margin-top: 9%;
    margin-left: none;
}

.scelta1 {
    position: relative;
    margin-top: 5%;
    margin-left: none;
}

.scelta2 {
    position: relative;
    margin-top: 1%;
    margin-left: none;
}

.corpo {
    text-align: center;
    /*margin-left: 5%;*/
}

.body {
    background-color: #E7E7E7;
}

h1 {
    font-size: 200%;
}


/*per logo Benito Melis*/

.logo {
    align-content: left;
    margin-left: 40%;
    position: absolute;
    margin-top: -12%;
}


/* Pulsanti */

.btn {
    background-color: #008000;
    border: none;
    color: white;
    /*padding: 12px 30px;*/
    padding: 1.5%;
    font-size: 1%;
    cursor: pointer;
    font-size: 150%;
}

.rtn {
    /*  */
    background-color: DodgerBlue;
    /* DodgerBlue */
    border: none;
    color: white;
    /*padding: 12px 30px;*/
    padding: 1.5%;
    font-size: 1%;
    cursor: pointer;
    font-size: 150%;
}


/* Darker background on mouse-over */

.btn:hover {
    background-color: #00AA00;
}

.rtn:hover {
    background-color: RoyalBlue;
}


/* singoli configuratori*/

.titolo {
    color: red;
    font-weight: bold;
}

.richiesta {
    margin-top: 1.5%;
    font-size: 125%;
}

.contornoVerde {
    border: 3px solid green;
    width: 99%;
    margin-left: 0%;
}

.centro {
    text-align: center;
}

.centroAbb {
    text-align: center;
    margin-top: 15%;
}

.sinistra {
    margin-left: 2.5%;
    width: 45%;
    position: absolute;
}

.destra {
    margin-left: 52.5%;
    width: 45%;
    position: absolute;
}